*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header, footer {
  height: 60px;
  position: absolute;
  left: 0;
  right: 0;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}