<template>
  <div class="visualizer">
    <div class="visualizer__controls">
      <label>
        Array size
        <input v-model="arraySize" type="range" min="10" max="300" />
        {{ arraySize }}
      </label>
      <button @click="generate">Generate new array</button>
      <button :disabled="sorted" @click="bubble">Bubble</button>
      <button :disabled="sorted" @click="quick">Quick</button>
    </div>
    <transition-group tag="div" class="visualizer__canvas" name="array">
      <div
        v-for="(item, idx) in array"
        :key="item.id"
        class="bar"
        :style="getBarStyles(item.value, idx)"
      />
    </transition-group>
  </div>
</template>

<script>
  import { generateArray } from './helpers';

  export default {
    name: 'my-visuzlizer',

    data: () => ({
      arraySize: 100,
      array: Object.freeze(null),
      barWidth: 0,
      comparing: Object.freeze([]),
      swapping: Object.freeze([]),
      sorted: false,
      timeout: Object.freeze(null),
    }),

    watch: {
      arraySize() {
        this.generate();
      },
    },

    computed: {
      setTimeout() {
        return (cb, ...args) => {
          this.timeout = setTimeout(
            cb.bind(this, ...args),
            -1.7 * this.array.length + 517
          );
        };
      },
    },

    mounted() {
      this.generate();
    },

    methods: {
      getKey(val) {
        return val * Math.random() * 1000;
      },

      getBarStyles(value, index) {
        return {
          width: `${this.barWidth}px`,
          height: `${value}px`,
          backgroundColor: this.sorted
            ? 'pink'
            : this.comparing.includes(index)
            ? 'green'
            : this.swapping.includes(index)
            ? 'purple'
            : 'red',
        };
      },

      generate() {
        clearTimeout(this.timeout);
        this.array = generateArray(this.arraySize);
        this.comparing = this.swapping = [];
        this.sorted = false;
        this.barWidth = Math.floor(this.$el.clientWidth / this.arraySize);
      },

      quick() {
        // function partition(arr, low, hi) {
        //   const pivot = arr[Math.floor(Math.random() * arr.length)];

        //   while (arr[hi] > pivot) {
        //     hi--;
        //   }

        //   while (low < pivot) {
        //     low++;
        //   }
        // }

        function qsort(arr) {
          if (arr.length < 2) {
            return arr;
          }
          const base = arr[Math.floor(Math.random() * arr.length)];
          const less = arr.filter((el) => el < base);
          const equal = arr.filter((el) => el === base);
          const greater = arr.filter((el) => el > base);
          return [...qsort(less), ...equal, ...qsort(greater)];
        }

        this.array = qsort(this.array.slice());
      },

      bubble() {
        const arr = this.array.slice();
        let swapped = false;
        const frames = [];
        for (let i = 0; i < arr.length - 1; ++i) {
          for (let j = 0; j < arr.length - i - 1; ++j) {
            frames.push({ items: [j, j + 1], toSwap: false });
            if (arr[j].value > arr[j + 1].value) {
              frames.push({ items: [j, j + 1], toSwap: true });
              swapped = true;
              [arr[j], arr[j + 1]] = [arr[j + 1], arr[j]];
            }
          }
          if (!swapped) {
            break;
          }
        }
        this.dispatchBubble(frames);
      },

      dispatchBubble(frames) {
        const queue = frames.slice();

        const dispatchFrame = () => {
          if (queue.length === 0) {
            this.sorted = true;
            this.swapping = this.comparing = [];
            return;
          }
          const frame = queue.shift();
          const [i, j] = frame.items;
          this.swapping = [];
          this.comparing = [i, j];
          this.setTimeout(compareValues, frame);
        };

        const compareValues = (frame) => {
          if (frame.toSwap) {
            const [i, j] = frame.items;
            this.swapping = [i, j];
            this.comparing = [];
            this.setTimeout(doSwap, [i, j]);
          } else {
            dispatchFrame.call(this);
          }
        };

        const doSwap = ([i, j]) => {
          [this.array[i], this.array[j]] = [this.array[j], this.array[i]];
          this.swapping = [];
          this.comparing = [i, j];
          this.setTimeout(dispatchFrame);
        };

        dispatchFrame();
      },
    },
  };
</script>

<style>
  .visualizer__canvas {
    display: flex;
  }

  .array-move {
    transition: transform 0.2s;
  }

  .bar {
    height: 20px;
  }
</style>
