<template>
  <div id="app">
    <my-visualizer />
  </div>
</template>

<script>
import MyVisualizer from './components/Visualizer.vue';

export default {
  name: 'App',

  components: {
    MyVisualizer
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 60px 30px;
}
</style>
